name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main

env:
  BUILD_PREFIX: "0.0"
  PROJECT_NAME: swappy
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3.11.1

      - name: Build Docker
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          file: Dockerfile
          build-args: |
            "BUILD_NUMBER=${{ env.BUILD_PREFIX }}.${{ github.run_number }}"
          platforms: linux/amd64
          push: false

      - name: Build Helm Chart
        shell: bash
        run: |
          helm package helm --version v${{ env.BUILD_PREFIX }}.${{ github.run_number }} --app-version v${{ env.BUILD_PREFIX }}.${{ github.run_number }}
        env:
          HELM_EXPERIMENTAL_OCI: 1